<% if user_signed_in? %>
	<% if Favorite.find_by(user_id: current_user.id, review_id: review.id) %>
		<div class="fav">
			<%= link_to "/user/reviews/#{review.id}/favorites", method: :delete, remote: true do %>
				<i class="fas fa-heart" aria-hidden="true" style="color: red;"></i>
				<%= review.favorites.count %>
			<% end %>
		</div>
	<% else %>
		<div class="fav">
			<%= link_to "/user/reviews/#{review.id}/favorites", method: :post, remote: true do %>
      			<i class="fas fa-heart" aria-hidden="true"></i>
      			<%= review.favorites.count %>
    		<% end %>
		</div>
	<% end %>
<% end %>