<div class="container about">
	<div class="row">
		<h1>How To Use</h1>
	</div>
	<div class="row box-field">
		<div class="box1 col-3">
			<i class="fas fa-edit" style="font-size: 100px;"></i>
			<h5>「レビューを投稿する」</h5>
			ログインをしたらHome右の<br>アイコンからあなたの<br>感想をシェアしよう！
		</div>
		<div class="box2 col-3">
			<i class="fas fa-eye" style="font-size: 100px;"></i>
			<h5>「レビューを閲覧する」</h5>
			気になる作品や劇団があったら<br>検索もできます！
		</div>
		<div class="box3 col-3">
			<i class="fas fa-user-circle" style="font-size: 100px;"></i>
			<h5>「フォローする」</h5>
			reviewerさんをフォローして<br>投稿をチェックできます！
		</div>
		<div class="box4 col-3">
			<i class="fas fa-heart" style="font-size: 100px;"></i>
			<h5>「いいねする」</h5>
			良いレビューには<br>積極的にいいねしよう！
		</div>
		<div class="box5 col-3">
			<i class="fas fa-paperclip" style="font-size: 100px;"></i>
			<h5>「クリップする」</h5>
			レビューをクリップして<br>好きな時に読み返せます！
		</div>
		<div class="box6 col-3">
			<i class="fas fa-synagogue" style="font-size: 100px;"></i>
			<h5>「劇場を管理する」</h5>
			レビューを投稿すると<br>今まで行った劇場を<br>一覧で確認できます！
		</div>
	</div>
</div>