<div class="container about">
	<div class="row">
		<h1>How To</h1>
	</div>
	<div class="row box-field">
		<div class="box1 col-3">
			<i class="fas fa-edit" style="font-size: 100px;"></i>
			<h5>レビューを投稿する</h5>
		</div>
		<div class="box2 col-3">
			<i class="fas fa-eye" style="font-size: 100px;"></i>
			<h5>レビューを閲覧する</h5>
		</div>
		<div class="box3 col-3">
			<i class="fas fa-user-circle" style="font-size: 100px;"></i>
			<h5>フォローする</h5>
		</div>
		<div class="box4 col-3">
			<i class="fas fa-heart" style="font-size: 100px;"></i>
			<h5>いいねする</h5>
		</div>
		<div class="box5 col-3">
			<i class="fas fa-list" style="font-size: 100px;"></i>
			<h5>いいねした投稿を見る<h5>
		</div>
		<div class="box6 col-3">
			<i class="far fa-address-card" style="font-size: 100px;"></i>
			<h5>フォロー・フォロワーを<br>チェックする</h5>
		</div>
	</div>
</div>