<div class="container">
	<%= link_to new_user_review_path do %>
		<h1>レビュー投稿する</h1>
	<% end %>
	<%= link_to user_user_path(@user) do %>
		<h1>マイページ</h1>
	<% end %>
	<%= link_to user_reviews_path do %>
		<h1>レビュー一覧</h1>
	<% end %>
</div>