<div class="container">
	<h1>劇場一覧</h1>
	<div class="row">
		<table class="table table-striped">
			<thead>
				<tr>
					<td>id</td>
					<td>劇場名</td>
					<td></td>
					<td></td>
				</tr>
			</thead>
			<tbody>
			<% @theaters.each do |theater| %>
				<tr>
					<td><%= theater.id %></td>
					<td><%= theater.name %></td>
					<td>
						<% if @user == current_user %>
							<%= link_to "編集する", edit_user_user_theater_path(@user, theater.id), class:"btn btn-outline-primary" %>
						<% end %>
					</td>
					<td>
						<% if @user == current_user %>
							<%= link_to "削除する", user_user_theater_path(@user, theater.id), method: :delete, class:"btn btn-outline-primary"  %>
						<% end %>
					</td>
				</tr>
			<% end %>
			</tbody>
		</table>
	</div>
</div>