<div class="contain">
	<div class="row">
		<% @users.each do |user| %>
		<div class="prof_image">
			<%= link_to user_user_path(user) do %>
				<%= attachment_image_tag(user, :image, :fill, 50, 50, fallback: "no-image.jpg") %>
			<% end %>
		</div><br>
		<div class="nickname">
			<%= link_to user_user_path(user) do %>
				<%= user.nickname %>
			<% end %>
		</div><br>
		<% end %>
	</div>
</div>