<div class="container">
	<div class="row">
		<div class="col-3">
		</div>
		<div class="col-5">
			<p>アカウント名: <%= @user.nickname %></p>
			<p>email: <%= @user.email %></p>
		</div>
		<div class="col-4">
			<h2>ステータス</h2>
			<p>レビュー</p>
			<p>いいね</p>
			<p>フォロー</p>
			<p>フォロワー</p>
			<p>劇場一覧</p>
		</div>
	</div>
</div>